@charset "UTF-8";
/* Marbust Sites MBTC® Template 4 */
/*Powerby Marbust Framework CSS 4.0*/
@import url("marbust-framework.css");
@import url("https://fonts.googleapis.com/css?family=Oxanium&display=swap");
body {
  font-family: "Roboto", sans-serif;
  background: #f7f6ff;
}

h2 {
  margin: 16px;
}

.container {
  margin-top: 100px;
  padding: 32px;
}

.select-box {
  display: flex;
  width: 100%;
  max-width: 280px;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
}

.select-box .options-container {
  background: #2f3640;
  color: #f5f6fa;
  max-height: 0;
  width: 100%;
  opacity: 0;
  transition: all 0.4s;
  border-radius: 8px;
  overflow: hidden;
  order: 1;
}

.selected {
  background: #2f3640;
  border-radius: 8px;
  margin-bottom: 8px;
  color: #f5f6fa;
  position: relative;
  order: 0;
}

.selected::after {
  content: "";
  background: url("img/arrow-down.svg");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  height: 100%;
  width: 32px;
  right: 10px;
  top: 5px;
  transition: all 0.4s;
}

.select-box .options-container.active {
  max-height: 240px;
  opacity: 1;
  overflow-y: scroll;
}

.select-box .options-container.active + .selected::after {
  transform: rotateX(180deg);
  top: -6px;
}

.select-box .options-container::-webkit-scrollbar {
  width: 8px;
  background: #0d141f;
  border-radius: 0 8px 8px 0;
}

.select-box .options-container::-webkit-scrollbar-thumb {
  background: #525861;
  border-radius: 0 8px 8px 0;
}

.select-box .option,
.selected {
  padding: 12px 24px;
  cursor: pointer;
}

.select-box .option:hover {
  background: #414b57;
}

.select-box label {
  cursor: pointer;
}

header {
  position: fixed;
  width: 100%;
  max-width: 1400px;
  max-height: 50px;
  min-height: 50px;
  background: #022F40;
  z-index: 3;
  top: 0;
  padding: 5px 10px;
  box-sizing: border-box;
}
header .tittle-link {
  padding: 10px 0px;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  transition: 0.5s;
}
header .tittle-link:hover {
  color: #38AECC;
  transform: scale(1.1) translateX(15px);
}
header .tittle-link, header .web-site-nav {
  margin: 0px;
}
@media (max-width: 1000px) {
  header {
    max-height: 100px;
  }
  header .tittle-link {
    text-align: center;
  }
  header .tittle-link:hover {
    transform: scale(1.1) translateX(0px);
  }
}
header ul {
  display: flex;
  list-style: none;
  justify-content: flex-end;
}
@media (max-width: 1000px) {
  header ul {
    justify-content: center;
  }
  header ul li a span {
    display: none;
  }
}
header ul li a {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  color: white;
  transition: 0.5s;
}
header ul li a i {
  transition: 0.5s;
}
header ul li a:hover {
  background: #046E8F;
}
header ul li a:hover i {
  transform: scale(1.1);
  color: white;
}

main {
  margin-top: 50px;
  margin-bottom: 58px;
  padding: 10px;
}
@media (max-width: 1000px) {
  main {
    margin-top: 100px;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Oxanium";
  text-align: center;
  margin: 10px 0px;
}

a {
  color: #0090C1;
  transition: 0.3s;
  font-weight: bold;
  text-decoration: none;
}
a:hover {
  color: #022F40;
}

.home-slide {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 1300px;
  width: 80%;
}

.home-options a {
  display: block;
  max-height: 100px;
  height: 100px;
  box-sizing: border-box;
  margin: 5px;
  min-height: 100px;
  max-width: 100px;
  min-width: 100px;
  width: 100px;
  transition: 0.3s;
  border-radius: 15px;
  background: #046E8F;
  color: white;
  padding: 20px;
  text-align: center;
  text-transform: uppercase;
}
.home-options a i {
  font-size: 30px;
  padding-bottom: 10px;
}
.home-options a:hover {
  background: #38AECC;
}

footer {
  width: 100%;
  min-height: 58px;
  max-height: 58px;
  max-width: 1400px;
  box-sizing: border-box;
  position: fixed;
  bottom: 0;
  padding: 20px 10px;
  z-index: 3;
  background: #38AECC;
}
footer p {
  text-align: center;
  color: #183446;
  font-weight: bold;
}
footer p a {
  color: white;
  transition: 1s;
  text-decoration: none;
}
footer p a:hover {
  color: #046E8F;
}

form {
  text-align: center;
  padding: 10px 0px;
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
  font-size: 18px;
}
form .form-group {
  margin: 10px 0px;
}
form .form-group span {
  font-weight: bold;
}
form input, form select {
  font-size: 18px;
  min-width: 240px;
  border-radius: 5px;
  border: 1px solid #022F40;
  margin-bottom: 15px;
}
form .btn {
  padding: 15px;
  text-transform: uppercase;
  border-radius: 10px;
  color: white;
  background: #0090C1;
  border: 1px solid #0090C1;
  transition: 1s;
}
form .btn:hover {
  background: #38AECC;
  border: 1px solid #38AECC;
  cursor: pointer;
}

.table-container {
  overflow-x: hidden;
  max-height: 500px;
  overflow-y: scroll;
  box-sizing: border-box;
}
@media (max-width: 1141px) {
  .table-container {
    overflow-x: scroll;
  }
}
.table-container table {
  border-collapse: collapse;
  width: 100%;
  text-align: center;
  box-sizing: border-box;
}
.table-container table * {
  box-sizing: border-box;
}
.table-container table td,
.table-container table th {
  border: 1px solid black;
  padding: 10px 15px;
}
.table-container table td:nth-child(1),
.table-container table th:nth-child(1) {
  max-width: 150px;
  min-width: 150px;
  width: 150px;
}
.table-container table td:nth-child(2),
.table-container table td:nth-child(3),
.table-container table th:nth-child(2),
.table-container table th:nth-child(3) {
  max-width: 80px;
  min-width: 80px;
  width: 80px;
}
.table-container table td:nth-child(4),
.table-container table td:nth-child(5),
.table-container table td:nth-child(6),
.table-container table td:nth-child(7),
.table-container table th:nth-child(4),
.table-container table th:nth-child(5),
.table-container table th:nth-child(6),
.table-container table th:nth-child(7),
.table-container table th:nth-child(8) {
  max-width: 120px;
  min-width: 120px;
  width: 120px;
}
.table-container table th:nth-child(9) {
  min-width: 200px;
}
.table-container table thead tr {
  background: #022F40;
  color: white;
}

.details-page {
  text-align: center;
  padding: 20px 0px;
  width: 90%;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}
.details-page dt {
  font-weight: bold;
  text-transform: uppercase;
  background: rgba(0, 0, 0, 0.17);
}
.details-page dt:nth-child(1) {
  border-top: 1px solid #022F40;
  border-radius: 15px 15px 0px 0px;
}
.details-page dd:nth-last-child(1) {
  border-radius: 0px 0px 15px 15px;
}
.details-page dt, .details-page dd {
  padding: 10px;
  border-bottom: 1px solid #022F40;
  border-left: 1px solid #022F40;
  border-right: 1px solid #022F40;
}

/*# sourceMappingURL=site.css.map */
