@page
@model MegaDesk_RazorPages.CreateModel 

@{
    
    ViewData["Title"] = "Create a new Quote";
    var DateNow = DateTime.Today;
   
}



<h4>Add A New Quote</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="POST">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Desk.Name" class="control-label"></label>
                <input asp-for="Desk.Name" class="form-control" />
                <br />
                <span asp-validation-for="Desk.Name"></span>
            </div>
            <div class="form-group">
                <label asp-for="Desk.Width" class="control-label"></label>
                <input asp-for="Desk.Width" class="form-control" /><br />

                <span asp-validation-for="Desk.Width" class="mt5px"></span>
            </div>
            <div class="form-group">
                <label asp-for="Desk.Depth" class="control-label"></label>
                <input asp-for="Desk.Depth" class="form-control" /><br />
                <span asp-validation-for="Desk.Depth" class="mt5px"></span>
            </div>


            <!--javascript dropdown options-->
            <!-- <div class="container"> -->

            <div class="select-box">
                <div class="options-container">

                    <div class="option">


                        <input asp-for="Desk.Material" type="radio" class="radio" value="Laminate" name="material" />
                        <label type="radio" asp-for="Desk.Material" class="control-label"><img src="~/images/laminate.jpg" />Laminate</label>
                        <br />
                        <span asp-validation-for="Desk.Material" class="text-danger"></span>

                    </div>

                    <div class="option">
                        <label type="radio" asp-for="Desk.Material" class="control-label"><img src="~/images/oak.jpg" />Oak</label>
                        <input asp-for="Desk.Material" type="radio" class="radio" value="Oak" name="material" />
                        <br />
                        <span asp-validation-for="Desk.Material" class="text-danger"></span>
                    </div>

                    <div class="option">
                        <input asp-for="Desk.Material" type="radio" class="radio" value="Pine" name="material" />
                        <label asp-for="Desk.Material"><img src="~/images/pine.jpg" />Pine</label>
                        <br />
                        <span asp-validation-for="Desk.Material" class="text-danger"></span>
                    </div>

                    <div class="option">
                        <input asp-for="Desk.Material" type="radio" class="radio" value="Rosewood" name="material" />
                        <label asp-for="Desk.Material"><img src="~/images/rosewood.jpg" />rosewood</label>
                        <br />
                        <span asp-validation-for="Desk.Material" class="text-danger"></span>
                    </div>

                    <div class="option">
                        <input asp-for="Desk.Material" type="radio" class="radio" value="Veneer" name="material" />
                        <label asp-for="Desk.Material"><img src="~/images/venner.jpg" /> Veneer</label>
                        <br />
                        <span asp-validation-for="Desk.Material" class="text-danger"></span>

                    </div>

                    

                </div>

                <div class="selected">
                    Desk Surface Material:
                </div>
            </div>
            <script src="~/js/main.js"></script>
           



            <!--
    <select asp-for="Desk.Material" name ="material" class="form-control" />
    <option style="background:url(~/images/venner.jpg);" value="Laminate"><span><img src="~/images/venner.jpg" /></span>Laminate </option>
    <option value="Oak">Oak </option>
    <option value="Pine">Pine</option>
    <option value="Rosewood">Rosewood </option>
    <option value="Veneer">Veneer </option>

    <span asp-validation-for="Desk.Material" class="text-danger"></span>-->
            <!--</select> -->
            <!--</div>-->
            <div class="form-group">
                <label asp-for="Desk.Drawers" class="control-label"></label>
                <input asp-for="Desk.Drawers" class="form-control" /><br />
                <span asp-validation-for="Desk.Drawers"></span>
            </div>
            <div class="form-group">
                <label asp-for="Desk.Order" class="control-label"></label>
                <select asp-for="Desk.Order" class="form-control" />
                <option value="14">14 </option>
                <option value="3">3 </option>
                <option value="5">5 </option>
                <option value="7">7</option>
                </select>
                <br />
                <span asp-validation-for="Desk.Order" class="text-danger"></span>
            </div>


            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>

        </form>
       
    </div>
</div>

<div class="tac mt15px">
    <a asp-page="View">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
