@page
@model MegaDesk_RazorPages.CreateModel 

@{
    
    ViewData["Title"] = "Create a new Quote";
    var DateNow = DateTime.Today;
   
}



<h4>Add A New Quote</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="POST">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Desk.Name" class="control-label"></label>
                <input asp-for="Desk.Name" class="form-control" />
                <br />
                <span asp-validation-for="Desk.Name"></span>
            </div>
            <div class="form-group">
                <label asp-for="Desk.Width" class="control-label"></label>
                <input asp-for="Desk.Width" class="form-control" /><br />

                <span asp-validation-for="Desk.Width" class="mt5px"></span>
            </div>
            <div class="form-group">
                <label asp-for="Desk.Depth" class="control-label"></label>
                <input asp-for="Desk.Depth" class="form-control" /><br />
                <span asp-validation-for="Desk.Depth" class="mt5px"></span>
            </div>

           <!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" /> -->
       <!--
            <div class="container-material">
                
                    <div class="col-md-6">
                        <input id="Laminate" type="radio" name="material" value="Laminate" />
                        <img src="~/images/laminate.jpg" />
                    </div>
                    <div class="col-md-6">
                        <input id="Oak" type="radio" name="material" value="Oak" />
                        <img src="~/images/oak.jpg" />
                    </div>
                    <div class="col-md-6">
                        <input id="Pine" type="radio" name="material" value="Pine" />
                        <img src="~/images/pine.jpg" />
                    </div>
                    <div class="col-md-6">
                        <input id="Rosewood" type="radio" name="material" value="Rosewood" />
                        <img src="~/images/rosewood.jpg" />
                    </div>
                    <div class="col-md-6">
                        <input id="Veneer" type="radio" name="material" value="Veneer" />
                        <img src="~/images/venner.jpg" />
                    </div>
                
            </div>  -->





            <!--javascript dropdown options-->
            <!-- <div class="container"> -->
            
            <div class="select-box">
                <div class="options-container">

             <div class="option">

                <input type="radio" class="radio" value="Laminate" name="material" />
                <label class="control-label"><img src="~/images/laminate.jpg" />Laminate</label>
                <span asp-validation-for="Desk.Material" class="text-danger"></span>


             </div>

             <div class="option">
                 <input type="radio" class="radio" name="material" value="Oak" />
                 <label class="control-label" name="material"><img src="~/images/oak.jpg" />Oak</label>
                 <span asp-validation-for="Desk.Material" class="text-danger"></span>

             </div>
             <div class="option">
                 <input type="radio" class="radio" value="Pine" name="material" />
                 <label class="control-label" name="material"><img src="~/images/pine.jpg" />Pine</label>
                 <span asp-validation-for="Desk.Material" class="text-danger"></span>
              </div>

            <div class="option">
                <input type="radio" class="radio" value="Rosewood" name="material" />
                <label class="control-label" name="material"><img src="~/images/rosewood.jpg" />Rosewood</label>
                <span asp-validation-for="Desk.Material" class="text-danger"></span>
            </div>

            <div class="option">
                <input type="radio" class="radio" value="Veneer" name="material" />
                <label class="control-label" name="material"><img src="~/images/venner.jpg" /> Veneer</label>
                <span asp-validation-for="Desk.Material" class="text-danger"></span>

            </div>
           </div>
         <div class="selected">
             Desk Surface Material:
         </div>
     </div>
     
         <script src="~/js/main.js"></script>
   
            <!--
    <select asp-for="Desk.Material" name ="material" class="form-control" />
    <option style="background:url(~/images/venner.jpg);" value="Laminate"><span><img src="~/images/venner.jpg" /></span>Laminate </option>
    <option value="Oak">Oak </option>
    <option value="Pine">Pine</option>
    <option value="Rosewood">Rosewood </option>
    <option value="Veneer">Veneer </option>

    <span asp-validation-for="Desk.Material" class="text-danger"></span>-->
            <!--</select> -->
            <!--</div>-->
            <div class="form-group">
                <label asp-for="Desk.Drawers" class="control-label"></label>
                <input asp-for="Desk.Drawers" class="form-control" /><br />
                <span asp-validation-for="Desk.Drawers" class="mt5px"></span>
            </div>
            <div class="form-group">
                <label asp-for="Desk.Order" class="control-label"></label>
                <select asp-for="Desk.Order" class="form-control" />
                <option value="14">14 </option>
                <option value="3">3 </option>
                <option value="5">5 </option>
                <option value="7">7</option>
                </select>
                <br />
                <span asp-validation-for="Desk.Order" class="text-danger"></span>
            </div>


            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>

        </form>
       
    </div>
</div>

<div class="tac mt15px">
    <a asp-page="View">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
