@page "{id:int?}"
@model MegaDesk_RazorPages.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Desk</h4>
<hr />

</script>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Desk.ID" />
            <div class="form-group">
                <label asp-for="Desk.Name" class="control-label"></label>
                <input asp-for="Desk.Name" class="form-control" />
                <span asp-validation-for="Desk.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Desk.Width"  class="control-label"></label>
                <input asp-for="Desk.Width"  class="form-control" />
                <span asp-validation-for="Desk.Width" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Desk.Depth" class="control-label"></label>
                <input asp-for="Desk.Depth"  class="form-control" />
                <span asp-validation-for="Desk.Depth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <select asp-for="Desk.Material" id="materials"  class="form-control" />
                <option value="Laminate" data-image="~/images/laminate.jpg">Laminate </option>
                <option value="Oak">Oak </option>
                <option value="Pine">Pine</option>
                <option value="Rosewood">Rosewood </option>
                <option value="Veneer">Veneer </option>

                <span asp-validation-for="Desk.Material" class="text-danger"></span>-->

                </select>
            </div>
            <div class="form-group">
                <label asp-for="Desk.Drawers" class="control-label"></label>
                <input asp-for="Desk.Drawers" class="form-control" />
                <span asp-validation-for="Desk.Drawers" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Desk.Order" class="control-label"></label>
                <input asp-for="Desk.Order" class="form-control" />
                <span asp-validation-for="Desk.Order" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Desk.DateOrder" class="control-label"></label>
                <input asp-for="Desk.DateOrder" class="form-control" />
                <span asp-validation-for="Desk.DateOrder" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./View">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
