<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MegaDesk</title>
    <!-- <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> -->
   <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="">
            <ul class="">
                <li>
                    <a asp-area="" asp-page="/Index">Home</a>
                </li>

                <li>

                    <a asp-area="" asp-page="/Desks/Create">New</a>
                </li>
                <li>
                    <a asp-area="" asp-page="/Desks/View">View</a>
                </li>
                <li>
                    <a asp-area="" asp-page="/Quotes">Search</a>
                </li>
            </ul>
        </nav>
    </header>
        <main>
            @RenderBody()
        </main>

    <footer>
        
            <p>&copy; 2020 - MegaDesk_RazorPages - <a asp-area="" asp-page="/Privacy">Privacy</a></p>
        
    </footer>

    @RenderSection("Scripts", required: false)
</body>
</html>
