header {
    position: fixed;
    width: 100%;
    max-width: 1400px;
    max-height: 50px;
    min-height: 50px;
    background: $color1;
    z-index: 3;
    top: 0;
    padding: 5px 10px;
    box-sizing: border-box;
    .tittle-link {
        padding: 10px 0px;
        text-decoration: none;
        text-transform: uppercase;
        color: white;
        transition: 0.5s;
        &:hover {
            color: $color2;
            transform: scale(1.1) translateX(15px);
        }
    }
    .tittle-link, .web-site-nav {
        margin: 0px;
    }
    @media (max-width: 1000px) {
        max-height: 100px;
        .tittle-link {
            text-align: center;
            &:hover {
                transform: scale(1.1) translateX(0px);
            }
        }
    }
    ul {
        display: flex;
        list-style: none;
        justify-content: flex-end;
        @media (max-width: 1000px) {
            justify-content: center;
            li {
                a {
                    span {
                        display: none;
                    }
                }
            }
        }
        li {
            a {
                display: block;
                padding: 10px 20px;
                text-decoration: none;
                color: white;
                transition: 0.5s;
                i {
                    transition: 0.5s;
                }
                &:hover {
                    i {
                        transform: scale(1.1);
                        color: white;
                    }
                    background: $color5;
                }
            }
        }
    }
}