main {
    margin-top: 50px;
    margin-bottom: 58px;
    @media (max-width: 1000px) {
        margin-top: 100px;
    }
    padding: 10px;
}

@import url('https://fonts.googleapis.com/css?family=Oxanium&display=swap');

h1, h2, h3, h4, h5, h6 {
    font-family: 'Oxanium', ;
    text-align: center;
    margin: 10px 0px;
}

a {
    color: $color3;
    transition: 0.3s;
    font-weight: bold;
    text-decoration: none;
    &:hover {
        color: $color1;
    }
}

.home-slide {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 1300px;
    width: 80%;
}

.home-options {
    a {
        display: block;
        max-height: 100px;
        height: 100px;
        box-sizing: border-box;
        margin: 5px;
        min-height: 100px;
        max-width: 100px;
        min-width: 100px;
        width: 100px;
        transition: 0.3s;
        border-radius: 15px;
        background: $color5;
        color: white;
        padding: 20px;
        text-align: center;
        text-transform: uppercase;
        i {
            font-size: 30px;
            padding-bottom: 10px;
        }
        &:hover {
            background: $color2;
        }
    }
}