/* Marbust Sites MBTC® Template 4 */
/*Powerby Marbust Framework CSS 4.0*/
//@import url("https://framework.marbust.com/marbust-framework.css");
@import url('marbust-framework.css');

$color1: #022F40;
$color2: #38AECC;
$color3: #0090C1;
$color4: #183446;
$color5: #046E8F;
@import 'partials/main-style';
@import 'partials/select';
@import 'partials/header';
@import 'partials/main';
@import 'partials/footer';
@import 'partials/form';

