@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div>
    <h1>Welcome</h1>
    <img src="~/images/slide.jpg" class="home-slide br15px shadow mb15px" alt="Main Page Slide" />

    <div class="flex-hc home-options">
        <a asp-page="/Desks/Create"><i class="fas fa-plus-circle"></i><br/>New</a>
        <a asp-page="/Desks/View"><i class="fas fa-list"></i><br/>View</a>
        <a asp-page="/Quotes"><i class="fas fa-search"></i><br/>Search</a>
    </div>
</div>
