@page
@model MegaDesk_RazorPages.IndexModel
@{
    ViewData["Title"] = "Quotes";
}

<h1>Quotes</h1>
<div class="tac">
    <p>Can't find Desk Quote? Create new Quote</p>
    <p><a asp-page="/Desks/Create">Add New Quote</a></p>
</div>

<form asp-page="/Desks/View" method="get">
    <div>
        <label for="searchName">Search:</label>
        <input type="text" name="searchName" value="@Model.SearchName" />
    </div>
    <div>
        <button type="submit" class="btn">Search</button>
        <a asp-page="/Desks/View">All Quotes</a>
    </div>
</form>
